@model IEnumerable<ApoExTestB01.Models.Beer>

@{
    ViewData["Title"] = "Search for beers";
}
<div class="container-fluid">
    @if (ViewBag.msgToUser != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.msgToUser
        </div>
    }

    <h1>Beers</h1>

    <div class="searchForm">
        <form asp-controller="Beer" asp-action?="Index" method="get">
            <label for="searchstring">Search for beers:</label>
            <input type="text" value="@ViewBag.searchstring" id="searchstring" name="searchstring" minlength="3" maxlength="100" required>
            <input type="hidden" id="page" name="page" value="1">
            <input type="submit" value="Search">
        </form>
    </div>


    @if (Model == null && ViewBag.searchstring != null)
    {
        <div class="alert alert-warning" role="alert">
            Your search did not match any beers. Please try again!
        </div>
    }

    @if (Model == null && ViewBag.images != null)
    {
        <div class="row beer-images align-items-center">
            <div class="col-12 col-sm-6 col-md-4">
                <img class="beer-image img-responsive" src="@ViewBag.images[0]" alt="A bottle of beer" />
            </div>
            <div class="col-sm-6 col-md-4 d-none d-sm-block">
                <img class="beer-image img-responsive" src="@ViewBag.images[1]" alt="A second bottle of beer" />
            </div>
            <div class="col-md-4 d-none d-md-block">
                <img class="beer-image img-responsive" src="@ViewBag.images[2]" alt="A third bottle of beer" />
            </div>
        </div>
    }

    @if (Model != null)
    {
        @if (@ViewBag.nrOfBeers == 1)
        {
            <h4 class="nr-of-beers">One beer found:</h4>
        }
        else
        {
            <h4 class="nr-of-beers">@ViewBag.nrOfBeers beers found:</h4>
        }


        <div class="row header-row">
            <div class="col-8">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-1">
                @Html.DisplayNameFor(model => model.Abv)
            </div>
            <div class="col-3">

            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="beer">
                <div class="row beer-row">
                    <div class="col-8 beer-name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="col-1 beer-apv">
                        @Html.DisplayFor(modelItem => item.Abv)
                    </div>
                    <div class="col-3">
                        <a href="#" class="details-link" id="@item.Id">Show details</a>
                    </div>
                </div>

                <div class="row header-row description-header-row" id="description-header-row-@item.Id">
                    <div class="col">
                        Description:
                    </div>
                </div>

                <div class="row description-row" id="description-row-@item.Id">
                    <div class="col">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                </div>

                <div class="row header-row food-row food-header" id="food-header-@item.Id">
                    <div class="col">
                        Dishes suiting this beer:
                    </div>
                </div>

                <div class="foods-wrapper-row foods-wrapper-row-@item.Id">
                    <div class="col">
                        <ul class="food-list food-list-@item.Id">
                            @foreach (var food in item.Food_pairing)
                            {
                                <li>
                                    @Html.DisplayFor(modelItem => food)
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }


        <nav class="nav nav-pills pagination justify-content-center">
            @if (ViewBag.nrOfBeers > 10)
            {

                @for (int i = 0; i < (ViewBag.nrOfBeers - 1) / 10 + 1; i++)
                {
                    @if (ViewBag.page == i + 1)
                    {
                        @Html.ActionLink("Page " + (i + 1),
                            "Index", "Beer",
                            new { searchstring = ViewBag.searchString, page = i + 1 },
                            new { @class = "nav-link active" }
                        );
                    }
                    else
                    {
                        @Html.ActionLink("Page " + (i + 1),
                            "Index", "Beer",
                            new { searchstring = ViewBag.searchString, page = i + 1 },
                            new { @class = "nav-link" }
                        );
                    }
                }
            }
        </nav>
    }
</div>